{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<!-- {{ date_time }} -->

{{ datetime }}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Avistos Innovative Solutions</a>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout1') }}">Google Log Out</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
         <form>
          <p style="color:rgb(223, 219, 219)">Current date and time : {{ datetime }}</p>
         </form>

        </div>
      </div>
    </nav>

    <div class="container-fluid "href="#" style="color:rgb(224, 221, 214);">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <a href="https://avistosimagebackend.azurewebsites.net/">click for Image-Annotation</a>
            <li><a href="http://40.75.23.2/">click for Video-Annotation</a></li>
          </ul>
     
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome {{ name }}</h1>
          
          </div>

          <body><center>
            <h1> Login on:<br>
            {{datetime}}</h1>

        <div>
            <body><centre>
              <h2 style="color:rgb(212, 201, 48);">summary:<br>
                  {{summary}}</h1>
                  
              <form method="POST" action="/dashboard1">
                  <input type="submit" name="button_9"  value="summary">
              </form>
          </centre>
          </body>
        </div>

            
        </div>
      </div>
    </div>

{% endblock %}
